body{
	background-color: #e3e3e3;

}
audio{
	width: 140px;
}

audio:hover{
	width:250px	;
}
.index a{
	text-decoration: none;
	color: #000066;
	font-size: 23px;
	text-decoration: underline;
}
.index{
	padding-bottom: 10px;
}
.index a:hover{
	color: 	 #4d4dff;
}




.sidenav{
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	
	padding-top: 20px;
}
.footer{
	overflow: hidden;
}
.pre a:hover{
	color: #808000
}
.next a:hover{
	color: #808000
}

.pre{
	width: 90px;
	font-size: 20px;
	float: left;
	padding-bottom: 2%;
	padding-left: 15%;
}
.next{
	font-size: 20px;
	float: right;
	padding-bottom: 2%;
	padding-right: 15%;

}
.sidenav h1{
	display: block;
	font-size: 25px;
	text-align: center;
	color: #e6e600;
	text-decoration: underline;
}
.sidenav a{
	color: #818181;
	display: block;
	font-size: 22px;
	padding: 6px 8px;
	text-decoration: none;
}
.sidenav ul{
	list-style-type: none;
	padding-left: 0px;
}
#playlist .currentsong a{
	color: #cccc00;
}
.sidenav a:hover{
	color: #f1f1f1;
}

@media screen and (max-height: 450px){
	.sidenav{padding-top: 15px;}
	.sidenav p{font-size: 18px;}
}


.heading1{
	color: red;
	text-align: center;
	font-size: 40px;
}
.heading2{
	text-decoration: underline;
	font-size: 30px;

}
.container{
	margin-left: 160px;
	border: 2px solid black;
	width: 80%;
	
}

.paragraph{
	width: 85%;
	margin: auto;
	text-align: justify;
}
p{
	font-size: 20px;
}
.images{
	text-align: center;
}
.special{
	text-align: center;
	font-size: 23px;
}
video{
	text-align: center;
}