img{
	width: 10%;
}
.container{
	border: 1px solid black;
	width: 70%;
	margin: auto;
	padding: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1{
	color: red;

}
p{
	font-size: 20px;
}
marquee{
	color: white;
	background-color: green;
	font-size: 30px;
}